/* helpers */
body{
    padding-top: 70px;
	}

h1,h2,h3,h4{
	font-family: 'Raleway', sans-serif;
}

	/* mobile */

 .imagen1{
    background-image:url("../assets/images/taxi.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    width: 100%;
		height: 650px;
		margin: 0;
	} 
	
.text-mobile{
		font-size: 40px;
	}

.logoxs{
		width: 70px;
		height: 15px;
	}

.box-1{
		background-color: rgb(247,182,23);
    color: white;
    float: right;
	}

.cell-phone{
		background-color: rgb(247,182,23);
	}

.text-center{
		color: white;
		padding: 10px;
	}

.phone{
		top:10px;
		border: 3px solid rgba(255, 255, 255, 0.356);
	}

.drive{
		background-image:url("../assets/images/conduce.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
		background-size: cover;
		margin: 0;
		padding: 0;
		height: 400px;;
	}

.text{
		display: flex;
		display: row;
		justify-content: center;
		background-color: rgba(49, 23, 23, 0.527);
		height: 100%;
	}

.box-text{
		color: white;
		padding-top: 5rem;
		width: 100%;

	}
.conduce-1{
		font-size: 20px;
		font-weight: bold;
	}

.conduce-2{
		font-size: 18px;
	}

.text-button{
		background-color: rgb(247,182,23);
	}

.tarifa{
		background-color: rgb(247,182,23);
	}

.tarifa-2{
		color: white;
		font-size: 2em;
		font-weight: bold;
	}

.tarifa-3{
		color: white;
		font-size: 1.5em;
	}

.text1{
		border: 2px solid white;
		border-radius: 15%;
	}

.text1,.text2{
		background-color: rgb(247,182,23);
		width: 90%;
	}

	.btn-light{
		background-color: white;
	}

	.btn{
		font-weight: bold;
	}

	.map{
	background-color: rgb(247,182,23);
	}

	.footer{
		background-color:rgb(43,43,43) 
	}

	.logoxs-footer{
		padding-top: 30px;
		padding-left: 13px
	}

	.line{
		height: 3px;
		width: 100%;
		color: white;
	}

	.text-option{
		list-style: none;
		color: white;
		padding-left: 0;
		line-height: 33px
	}
	
	.footer-1{
		line-height: 20px; 
	}

	.footer-2{
		color: white;
		letter-spacing: 8px;
		font-size: 17px;
		padding-left: 10px
	} 

	.footer-3{
		top: 20px;
		right: 44px;
	}

	.appstore{
		padding-top:18px; 
	}

  .text-finish{
	color: white;
	padding-bottom: 10px;
	padding-left: 30px;
	}

	/* desktop */

.box-md{
	background-color: rgb(247,182,23);
	font-size: 20px;
	height: 30vh;
	margin-left: 25%;
	padding: 0.6em 0 0.6em 1.2em
}

	/* nuevo */
.bg-orange {
	background-color: rgb(247,182,23);
	/* background-color: var(--orange); */
	height: 30vh;
	margin-left: 25%;
	padding: 0.6em 0 0.6em 1.2em
}

.bg-orange-desktop {
		background-color: rgb(247,182,23);
    margin-left: 64%;
    padding: 2em;
    background-color: var(--orange);
}

.box-logo,
.text-logo {
    display: inline;
}

.line:after,
.line:before {
		content: '';
		display: inline-block;
		height: 1px;
    width: 40%;
    background-color: white;
   
/* nuevo */

